:root {
    --clr-primary-900: hsl(292, 42%, 14%);
    --clr-primary-800: hsl(292, 16%, 49%);
    --clr-neutral-400: hsl(275, 100%, 97%);
    --clr-neutral-100: hsl(0, 0%, 100%);


    --ff-default: 'Work Sans', sans-serif;

    --fs-100: 0.875rem;
    --fs-200: 1rem;
    --fs-300: 1.125rem;
    --fs-400: 2rem;
    --fs-500: 3.5rem;

    --fw-bold: 700;
    --fw-regular: 600;
    --fw-light: 400;

    --fs-heading: var(--fs-400);
    --fs-title: var(--fs-200);
    --fs-body: var(--fs-100);

    --lh-body: 1.3215rem;
}

@media(min-width: 60em) {
    :root {
        --fs-heading: var(--fs-500);
        --fs-title: var(--fs-300);
        --fs-body: var(--fs-200);

        --lh-body: 1.5rem;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    font-family: var(--ff-default);
    display: grid;
    place-items: center;
    background-color: var(--clr-neutral-400);
}

body::before {
    content: '';
    position: absolute;
    background-image: url('assets/images/background-pattern-mobile.svg');
    width: 100%;
    height: 20rem;
    top: 0;
    z-index: -1;
}

@media(min-width:60em) {
    body::before {
        background-image: url('assets/images/background-pattern-desktop.svg');
    }
}

.container {
    width: min(37.5rem, calc(100% - 1.5rem));
    margin-inline: auto;
}

.card {
    border-radius: 1rem;
    box-shadow: 0px 32px 56px 0px rgba(80, 0, 118, 0.10);
    padding: 2.5rem;
}

.pr-24 {
    padding-right: 1.5rem;
}

.heading-lg {
    font-size: var(--fs-heading);
}

.text-title {
    font-size: var(--fs-title);
    font-weight: var(--fw-regular);
}

.text-body {
    font-size: var(--fs-body);
    font-weight: var(--fw-light);
}

.text-bold {
    font-weight: var(--fw-bold);
}

.clr-primary-900 {
    color: var(--clr-primary-900);
}

.clr-primary-800 {
    color: var(--clr-primary-800);
}

.bg-white {
    background-color: var(--clr-neutral-100);
}

.text-expand {
    display: block;
    margin-block: 1.5rem;
    position: relative;
    cursor: pointer;
}

details {
    max-height: 5rem;
    transition: max-height 1s ease-out;
}

details[open] {
    max-height: 50rem;
}

.text-expand::after {
    content: '';
    position: absolute;
    background-image: url('assets/images/icon-plus.svg');
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}

.text-expand[open]::after {
    background-image: url('assets/images/icon-minus.svg');
}