:root {
    --clr-primary-900: hsl(22, 89%, 52%);
    --clr-primary-800: hsl(22, 100%, 69%);

    --clr-primary-900-hsl: 22, 89%, 52%;

    --clr-neutral-900: hsl(220, 50%, 17%);
    --clr-neutral-500: hsl(221, 23%, 58%);
    --clr-neutral-200: hsl(198, 28%, 93%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --ff-default: 'Barlow', sans-serif;

    --fw-bold: 900;
    --fw-semi-bold: 700;
    --fw-regular: 500;


    --fs-100: 1rem;
    --fs-200: 1.5rem;
    --fs-300: 2rem;
    --fs-400: 3rem;
    --fs-500: 3.5rem;

    /* Line heights */
    --lh-body: 1.625rem;
    --lh-heading-sm: 1.75rem;
    --lh-heading-md: 2.25rem;
    --lh-heading-lg: 3rem;

    /* Fonts size  */
    --fs-heading-lg: var(--fs-400);
    --fs-heading-md: var(--fs-300);
    --fs-heading-sm: var(--fs-200);
    --fs-body: var(--fs-100);
}

@media (min-width: 48rem) {
    :root {
        --fs-heading-lg: var(--fs-500);
        --lh-heading-lg: 3.5rem;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    font-family: var(--ff-default);
    font-size: var(--fs-body);
    line-height: var(--lh-body);
    color: var(--clr-neutral-500);
}

.container {
    --default-size: 1.75rem;
    width: min(1110px, calc(100% - var(--default-size)));
    margin-inline: auto;
}

.row {
    display: flex;
    gap: var(--row-gap, 0);
    justify-content: var(--main-axis-alignment, start);
    align-items: center;
}


.flow * {
    margin-bottom: var(--flow-gap, 1.5rem);
}

.heading-lg {
    font-size: var(--fs-heading-lg);
    line-height: var(--lh-heading-lg);
}

.heading-md {
    font-size: var(--fs-heading-md);
    line-height: var(--lh-heading-md);
}

.heading-sm {
    font-size: var(--fs-heading-sm);
    line-height: var(--fs-heading-sm);
}

.heading-lg,
.heading-md,
.heading-sm {
    color: var(--clr-neutral-900);
}

.clr-dark {
    color: var(--clr-neutral-100);
}

.text-bold {
    font-weight: var(--fw-bold);
}

.text-uppercase {
    text-transform: uppercase;
}

.btn {
    font-weight: var(--fw-semi-bold);
    padding: 0.75rem 1rem;
    border: none;
    border-radius: .5rem;
    text-transform: uppercase;
    font-size: var(--fs-100);
    cursor: pointer;
}

.btn-primary {
    background-color: var(--clr-primary-900);
    color: var(--clr-neutral-100);
}

.btn-primary:hover,
.btn-primary:focus-visible {
    background-color: var(--clr-primary-800);
}

.btn-secondary {
    background-color: var(--clr-neutral-200);
    color: var(--clr-neutral-900);
}

.btn-secondary:hover,
.btn-secondary:focus-visible {
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
}

.btn-text {
    background-color: transparent;
    color: var(--clr-neutral-500);
}

.btn-text:hover,
.btn-text:focus-visible {
    color: var(--clr-neutral-900);
}

header {
    margin-top: 3.5rem;
}

/* Hero */
.hero {
    position: relative;
    overflow: hidden;
    margin-block: 3.5rem 1.5rem;
}

.hero__img {
    position: relative;
    object-fit: cover;
    border-radius: 0.5rem;
    left: 1rem;
}

/* Showcase  */
.showcase {
    margin-block: 1.5rem 4rem;
    text-align: center;
}

.showcase__img {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 4.5rem;
}

.showcase__img img {
    width: 100%;
    border-radius: 0.5rem;
}

.showcase__img--blend {
    position: relative;
}

.showcase__img--blend::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: hsla(22, 89%, 52%, 0.618);
    border-radius: 0.5rem;
    isolation: isolate;

}

/* Feature  */
.features {
    display: grid;
    place-items: center;
    text-align: center;
    margin-block: 1.5rem 2rem;
}

.feature__icon {
    display: block;
    margin-inline: auto;
    background-color: var(--clr-primary-900);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 3rem;
}

/* Footer  */
.footer {
    text-align: center;
    margin-block: 1.5rem 3rem;
}

@media(min-width: 48rem) and (max-width: 60rem) {

    .showcase_description {
        display: flex;
        gap: 5rem;
    }
}

@media(min-width: 48rem) {
    .hero {
        position: relative;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }


    .showcase {
        text-align: start;
    }



    .features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        text-align: start;
    }

    .feature__icon {
        margin-inline: 0;
    }
}

@media(min-width: 60rem) {
    .hero {
        max-width: 1110px;
        margin-inline: auto
    }

    .hero__img {
        left: 0;
    }

    .showcase {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 2fr 1fr;
        gap: 7rem;
        place-items: center;
    }

    .features {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}