.btn {
    border: none;
    border-radius: 0.625rem;
    font-size: var(--fs-btn);
    font-weight: var(--fw-bold);
    text-transform: capitalize;
    padding: 0.75rem 1.5rem;
    background-color: var(--clr-primary-800);
    color: var(--clr-neutral-200);
    cursor: pointer;
}

.btn:hover,
.btn:focus-visible {
    background-color: #60ABFF;
}

.icon_btn {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;

}