$spacing: (
  padding: (
    prefix: "p",
    values: (
      8: 0.5rem,
      16: 1rem,
      24: 1.5rem,
      32: 2rem,
      40: 2.5rem,
      48: 3rem,
      56: 3.5rem,
      64: 4rem,
    ),
  ),

  padding-top: (
    prefix: "pt",
    values: (
      8: 0.5rem,
      16: 1rem,
      24: 1.5rem,
      32: 2rem,
      40: 2.5rem,
      48: 3rem,
      56: 3.5rem,
      64: 4rem,
    ),
  ),

  padding-right: (
    prefix: "pr",
    values: (
      8: 0.5rem,
      16: 1rem,
      24: 1.5rem,
      32: 2rem,
      40: 2.5rem,
      48: 3rem,
      56: 3.5rem,
      64: 4rem,
    ),
  ),
  padding-bottom: (
    prefix: "pb",
    values: (
      8: 0.5rem,
      16: 1rem,
      24: 1.5rem,
      32: 2rem,
      40: 2.5rem,
      48: 3rem,
      56: 3.5rem,
      64: 4rem,
    ),
  ),
  padding-left: (
    prefix: "pl",
    values: (
      8: 0.5rem,
      16: 1rem,
      24: 1.5rem,
      32: 2rem,
      40: 2.5rem,
      48: 3rem,
      56: 3.5rem,
      64: 4rem,
    ),
  ),
  padding-block: (
    prefix: "py",
    values: (
      8: 0.5rem,
      16: 1rem,
      24: 1.5rem,
      32: 2rem,
      40: 2.5rem,
      48: 3rem,
      56: 3.5rem,
      64: 4rem,
    ),
  ),
  padding-inline: (
    prefix: "px",
    values: (
      8: 0.5rem,
      16: 1rem,
      24: 1.5rem,
      32: 2rem,
      40: 2.5rem,
      48: 3rem,
      56: 3.5rem,
      64: 4rem,
    ),
  ),
  margin: (
    prefix: "m",
    values: (
      8: 0.5rem,
      16: 1rem,
      24: 1.5rem,
      32: 2rem,
      40: 2.5rem,
      48: 3rem,
      56: 3.5rem,
      64: 4rem,
    ),
  ),

  margin-top: (
    prefix: "mt",
    values: (
      8: 0.5rem,
      16: 1rem,
      24: 1.5rem,
      32: 2rem,
      40: 2.5rem,
      48: 3rem,
      56: 3.5rem,
      64: 4rem,
    ),
  ),

  margin-right: (
    prefix: "mr",
    values: (
      8: 0.5rem,
      16: 1rem,
      24: 1.5rem,
      32: 2rem,
      40: 2.5rem,
      48: 3rem,
      56: 3.5rem,
      64: 4rem,
    ),
  ),
  margin-bottom: (
    prefix: "mb",
    values: (
      8: 0.5rem,
      16: 1rem,
      24: 1.5rem,
      32: 2rem,
      40: 2.5rem,
      48: 3rem,
      56: 3.5rem,
      64: 4rem,
    ),
  ),
  margin-left: (
    prefix: "ml",
    values: (
      8: 0.5rem,
      16: 1rem,
      24: 1.5rem,
      32: 2rem,
      40: 2.5rem,
      48: 3rem,
      56: 3.5rem,
      64: 4rem,
    ),
  ),
  margin-block: (
    prefix: "my",
    values: (
      8: 0.5rem,
      16: 1rem,
      24: 1.5rem,
      32: 2rem,
      40: 2.5rem,
      48: 3rem,
      56: 3.5rem,
      64: 4rem,
    ),
  ),
  margin-inline: (
    prefix: "mx",
    values: (
      8: 0.5rem,
      16: 1rem,
      24: 1.5rem,
      32: 2rem,
      40: 2.5rem,
      48: 3rem,
      56: 3.5rem,
      64: 4rem,
    ),
  ),
);
