$type-scale: (
  mobile: (
    100: 1rem,
    200: 1.125rem,
    300: 1.25rem,
    400: 2rem,
    500: 3.125rem,
    550: 3.125rem,
    600: 3.75rem,
  ),
  tablet: (
    550: 3.4375rem,
    600: 3.75rem,
  ),
  desktop: (
    100: 1.125rem,
    200: 1.25rem,
    300: 1.375rem,
    400: 2.25rem,
    500: 3.75rem,
    550: 4.375rem,
    600: 6rem,
  ),
);
