.large {
    font-size: 1.5rem;
    font-weight: var(--fw-300);
}

.caption {
    color: var(--clr-neutral-300);
    font-size: var(--fs-body);
}

.bold {
    font-weight: var(--fw-500);
}

@media(min-width: 730px) {
    .large {
        font-size: 2.5rem;
    }
}